name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Se activa al hacer push a la rama main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Chequear el código
        uses: actions/checkout@v3

      - name: Iniciar sesión en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir y subir imagen
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # CAMBIA ESTO POR TU USUARIO/REPO DE DOCKER HUB:
          tags: pedroalcalde/mi-pagina-web:latest
